.card_action{
    display: inline-block;
}
#welcome{
    text-align:center;
}
#new_user{
    text-align: center;
}
#createCard{
    display: inline-block;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
